# dependencies
/node_modules
.yarn/install-state.gz

# misc
.DS_Store

# build output
/dist
*.tsbuildinfo

# wrangler
.wrangler
.dev.vars

# local env
.env
.env*.local

# ignore gitpmoji directory
gitpmoji
